body {
    background: linear-gradient(135deg, #e3f2fd, #ffffff);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e3f2fd;

}

#header{
    background-color: #0f3d83 !important;
    margin-bottom: 3rem;
}

.search{
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.1);
    margin-left: 10px;
    margin-top: 7px;
    margin-bottom: 3px;
}

#upload-button{
    background-color: transparent;
    border-color: transparent;
}

#confirm-button{
    background-color: #0f3d83 !important;
}

#cancel-button{
    border-color: #0f3d83;
    color: #0f3d83;
}

svg{
    width: 100%;
}

.dropdown{
    border: none !important;
    background-color: #0f3d83 !important;
}

.dropdown-toggle{
    border: none !important;
    background-color: #0f3d83 !important;
}

.link{
   cursor: pointer;
}

.upload-box {
    border: 2px dashed #ccc;
    border-radius: 10px;
    padding: 40px;
    text-align: center;
    cursor: pointer;
    background-color: #f9f9f9;
}

.upload-box:hover {
    background-color: #f1f1f1;
}

#preview {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-top: 15px;
    display: block;
}
