body {
    background: linear-gradient(135deg, #e3f2fd, #ffffff);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e3f2fd;
}

#header{
    background-color: #0f3d83 !important;
}

.dropdown{
    border: none !important;
    background-color: #0f3d83 !important;
}

.dropdown-toggle{
    border: none !important;
    background-color: #0f3d83 !important;
}

.link{
   cursor: pointer;
}

.btn-outline-primary{
    border-color: #0f3d83;
    color: #0f3d83;
}

#logo{
    margin-top: 8px;
    margin-bottom: 8px;
}

h1 {
    color: #0f3d83;
}

#submit{
    background-color: #0f3d83 !important;
}


