<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Reset Your Password</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"/>
  <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/index.css}"/>
</head>

<body>

<header id="header" class="p-3 text-bg-dark position-fixed col-12"  style="z-index: 1050;">
  <div class="container d-flex flex-wrap justify-content-between align-items-center">
    <a th:href="@{/}" class="align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
      <h2 class="fw-bold lh-1 mb-3 me-4">u-me</h2>
    </a>
  </div>
</header>

<div id="main-container" class="container col-xl-12  px-4">
  <div class="row align-items g-lg-5 py-5">
    <div class="col-lg-7 text-center text-lg-start">
      <h1 class="display-4 fw-bold lh-1 mb-3">Did you lose your way?</h1>
      <p class="col-lg-10 fs-5">Don’t worry, we’ll help you reset it in no time.</p>
    </div>

    <div class="col-md-10 mx-auto col-lg-5">
      <form class="p-4 p-md-5 border rounded-3 bg-white" th:action="@{/updatePassword}" method="POST">
        <input type="hidden" name="token" th:value="${token}" />

        <div class="form-floating mb-3">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password"  name="password" required>
          <label for="floatingPassword">New Password</label>
        </div>

        <button id="submit-2" class="w-100 btn btn-lg btn-primary mb-3" type="submit">Submit</button>

        <hr class="my-4">
        <small class="small-note">After confirming new password, you will be redirected to sign in page.</small>
      </form>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/js/index.js}"></script>
</body>
</html>
