<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Results</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"/>
  <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/user.css}"/>
</head>

<body>
<!-- Header Part To Show Options -->
<header id="header" class="py-3 mb-0 border-bottom bg-dark position-fixed col-12">
  <div class="container d-flex align-items-center justify-content-between">

    <!-- Logo & Search -->
    <div class="d-flex align-items-center">
      <a th:href="@{/home}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <h2 class="fw-bold lh-1 mb-0 me-4">u-me</h2>
      </a>

      <form class="search" role="search" method="get" th:action="@{/searchUser}">
        <input name="input" type="search" class="form-control" placeholder="Search..." aria-label="Search">
      </form>
    </div>

    <!-- Upload Button - Modal-->
    <a id="upload-button" type="button" class="btn d-none d-md-block" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"/>
      </svg>
    </a>

    <!-- Explore -->
    <div class="position-relative d-inline-block d-none d-md-block">
      <a th:href="@{/explore}">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-compass-fill" viewBox="0 0 16 16">
          <path d="M15.5 8.516a7.5 7.5 0 1 1-9.462-7.24A1 1 0 0 1 7 0h2a1 1 0 0 1 .962 1.276 7.5 7.5 0 0 1 5.538 7.24m-3.61-3.905L6.94 7.439 4.11 12.39l4.95-2.828 2.828-4.95z"/>
        </svg>
      </a>
    </div>

    <!-- Notification -->
    <div class="position-relative d-inline-block d-none d-md-block">
      <a th:href="@{/notifications}">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-bell" viewBox="0 0 16 16">
          <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.104-14.58a.5.5 0 0 0-.208.04C6.548 2.266 6 3.443 6 5v.086a5.002 5.002 0 0 0-1.995 3.342l-.007.102-.007.25c-.04.756-.194 1.397-.513 1.878C2.82 10.847 2 11.35 2 12v1h12v-1c0-.65-.82-1.153-1.478-1.342-.32-.481-.474-1.122-.514-1.878l-.007-.25a5.002 5.002 0 0 0-2.037-3.444V5c0-1.557-.548-2.734-1.896-3.54a.5.5 0 0 0-.208-.04z"/>
        </svg>
      </a>
      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg" th:text="${notificationCount}" style="color:white;">
            </span>
    </div>

    <!-- Message -->
    <div class="position-relative d-inline-block d-none d-md-block">
      <a th:href="@{/messages}">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-envelope-fill" viewBox="0 0 16 16">
          <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414zM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586zm3.436-.586L16 11.801V4.697z"/>
        </svg>
      </a>
      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg" th:text="${messageCount}" style="color:white;">
            </span>
    </div>

    <!-- Profile Info and Photo Section-->
    <div class="d-flex align-items-center gap-3">
      <a class="text-white text-decoration-none d-none d-lg-block" th:href="@{/profile}">
        <span th:if="${user.firstName != null && user.lastName != null}" th:text="${user.firstName + ' ' + user.lastName}"></span>
        <span th:unless="${user.firstName != null && user.lastName != null}" th:text="${username}"></span>
      </a>

      <div class="dropdown">
        <a href="#" class="d-block link-light text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <img th:src="@{${user.profilePhotoPath != null} ? ${user.profilePhotoPath} : '/assets/person-circle.svg'}" alt="Profile" width="32" height="32" class="rounded-circle">
        </a>
        <ul class="dropdown-menu dropdown-menu-end text-small shadow">
          <li><a class="dropdown-item" th:href="@{/profile}">Profile</a></li>
          <li><a class="dropdown-item" th:href="@{/settings}">Settings</a></li>
          <li><a class="dropdown-item" th:href="@{/editProfile}">Edit Profile</a></li>
          <li><a class="dropdown-item" th:href="@{/about}">About</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" th:href="@{/logout}">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>

<!-- Header Part When Screen Gets smaller -->
<header id="footer" class="border-bottom bg-dark position-fixed col-12 fixed-bottom d-md-none d-sm-block pt-2 pb-2">
  <div class="container d-flex align-items-center justify-content-between">

    <!-- Logo & Search -->
    <div class="d-flex align-items-center">
      <a th:href="@{/home}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-house-fill" viewBox="0 0 16 16">
          <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293z"/>
          <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293z"/>
        </svg>
      </a>
    </div>

    <!-- Upload Button - Modal-->
    <a id="upload-button" type="button" class="btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"/>
      </svg>
    </a>

    <!-- Explore -->
    <div class="position-relative d-inline-block">
      <a th:href="@{/explore}">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-compass-fill" viewBox="0 0 16 16">
          <path d="M15.5 8.516a7.5 7.5 0 1 1-9.462-7.24A1 1 0 0 1 7 0h2a1 1 0 0 1 .962 1.276 7.5 7.5 0 0 1 5.538 7.24m-3.61-3.905L6.94 7.439 4.11 12.39l4.95-2.828 2.828-4.95z"/>
        </svg>
      </a>
    </div>

    <!-- Notification -->
    <div class="position-relative d-inline-block">
      <a th:href="@{/notifications}">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-bell" viewBox="0 0 16 16">
          <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.104-14.58a.5.5 0 0 0-.208.04C6.548 2.266 6 3.443 6 5v.086a5.002 5.002 0 0 0-1.995 3.342l-.007.102-.007.25c-.04.756-.194 1.397-.513 1.878C2.82 10.847 2 11.35 2 12v1h12v-1c0-.65-.82-1.153-1.478-1.342-.32-.481-.474-1.122-.514-1.878l-.007-.25a5.002 5.002 0 0 0-2.037-3.444V5c0-1.557-.548-2.734-1.896-3.54a.5.5 0 0 0-.208-.04z"/>
        </svg>
      </a>
      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg" th:text="${notificationCount}" style="color:white;">
            </span>
    </div>

    <!-- Message -->
    <div class="position-relative d-inline-block">
      <a th:href="@{/messages}">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-envelope-fill" viewBox="0 0 16 16">
          <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414zM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586zm3.436-.586L16 11.801V4.697z"/>
        </svg>
      </a>
      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg" th:text="${messageCount}" style="color:white;">
            </span>
    </div>
  </div>
</header>

<!-- Modal To Upload Photo (Form) -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Share a New Post</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <!-- Photo Form -->
        <form id="uploadForm" th:action="@{/shareNewPost}" th:object="${newPhoto}" method="POST" enctype="multipart/form-data">
          <div id="photo-area" class="upload-box mb-3" onclick="document.getElementById('fileInput').click()">
            <svg xmlns="http://www.w3.org/2000/svg" width="48" fill="gray" viewBox="0 0 24 24"><path d="M19 13H5v-2h14v2z"/></svg>
            <p class="mt-2 text-muted">Click or drag image here</p>
            <input type="file" accept="image/*" class="d-none" id="fileInput" name="image" required>
          </div>

          <img id="preview" class="img-fluid rounded d-none"/>

          <div class="mb-3">
            <label for="caption" class="form-label">Caption</label>
            <textarea th:field="*{caption}" class="form-control" id="caption" rows="2" placeholder="Write a caption..."></textarea>
          </div>

          <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input th:field="*{location}" class="form-control" id="location" placeholder="Enter a location" />
          </div>

          <div class="modal-footer">
            <button id="cancel-button" type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Cancel</button>
            <button id="confirm-button" type="submit" class="btn btn-primary">Confirm</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>

<!-- User search Results -->
<div class="container" id="search-results">
  <div class="my-3 p-3 bg-body rounded shadow-sm" >
    <h6 class="border-bottom pb-2 mb-0">Search Results</h6>
    <div class="d-flex text-body-secondary pt-3" th:each="searchedUsr : ${searchedUsers}">

      <div class="d-flex align-items-center border-bottom py-2 w-100">
        <!-- Profile Picture -->
        <img th:src="@{${searchedUsr.getProfilePhotoPath != null} ? ${searchedUsr.getProfilePhotoPath} : '/assets/person-fill.svg'}"
             class="rounded-circle me-2 flex-shrink-0 border"
             width="40" height="40" alt="User photo" />

        <!-- User Info + Follow Button -->
        <div class="d-flex justify-content-between w-100 align-items-center">

          <!-- Full Name -->
          <div>
            <a th:href="@{/getProfile(userId=${searchedUsr.user.id})}" class="text-decoration-none">
              <strong class="text-gray-dark d-block"
                      th:text="${(searchedUsr.firstName != null or searchedUsr.lastName != null) ? searchedUsr.firstName + ' ' + searchedUsr.lastName : searchedUsr.user.username}">
                Full Name
              </strong>
            </a>
            <span class="small text-muted d-block" th:text="${searchedUsr.user.username}">@username</span>
          </div>

          <!-- Follow Button -->
          <form th:action="@{/follow}" method="post" class="ms-3">
            <input type="hidden" name="searchedUsrId" th:value="${searchedUsr.user.id}" />
            <input type="hidden" name="redirectUrl" th:value="@{/searchUser(input=${oldInput})}" />
            <button type="submit" class="btn btn-sm" th:text="${followStatus[searchedUsr.user.id]}">Follow</button>
          </form>
        </div>
      </div>

    </div>

    <!--
    <small class="d-block text-end mt-3">
      <form th:action="@{/allSuggestions}" method="get">
        <input type="hidden" name="oldInput" th:value="${oldInput}" />
        <button type="submit" class="btn btn-sm">All suggestions</button>
      </form>
    </small>
    -->

  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/js/user.js}"></script>
</body>
</html>